//**
//* Button generation mixin. Just provide a color map and you'll get a variety of custimsable buttons to play with
//*
//* Note: This isn't all you need to make good buttons. You'll want to reset browser styles on
//*       some elements, particularly the ones mentioned in the paragraph below although I'm
//*       planning on including this.
//*       You'll probably want to adjust the styles in here to fit the site's theme
//*
//*       The styles generated are best suited
//*       to the <button> element, although they will also work for <a> and <input>. (haven't actually
//*       tested whether they work with <div> or <span> but I'd assume that it would be fine)
//*/


//**
//* Mixin to generate a placeholder and class called "btn-#{$btn-name}" using the color map provided
//*
//* @param string $btn-name The name of the button. This will become accessible through both %btn-#{$btn-name} and .btn-#{$btn-name}
//* @param map $btn-colors A map of colors to assign to the button. For now, check sass/things/_buttons to see how it's used
//* @param bool $g Whether or not to generate an ghost version of the button, available through %btn-ghost-#{$btn-name} and .btn-ghost-#{$btn-name}
//* @author Govi Tusler
//*/




// function stuff

@function new-map() {
  @return map-remove((thing: nothing), thing);
}


// From https://gist.github.com/jlong/f06f5843104ee10006fe

// Brightness math based on:
//  http://www.nbdtech.com/Blog/archive/2008/04/27/Calculating-the-Perceived-Brightness-of-a-Color.aspx

// $red-magic-number: 241;
// $green-magic-number: 691;
// $blue-magic-number: 68;
// $brightness-divisor: $red-magic-number + $green-magic-number + $blue-magic-number;

// @function brightness($color) {
//   // Extract color components
//   $red-component: red($color);
//   $green-component: green($color);
//   $blue-color: blue($color);

//   // Calculate a brightness in 3d color space between 0 and 255
//   $number: sqrt((($red-component * $red-component * $red-magic-number) + ($green-component * $green-component * $green-magic-number) + ($blue-component * $blue-component * $blue-magic-number)) / $brightness-divisor);

//   @return 100% * $number / 255;
// }

// end function stuff





// mixin stuff

@function is-valid-options-map-for-btn($optionsmap) {
  @return true;
}

// assign default values where they are omitted
@function fix-btn-colors($colormap) {
  // set border to background-color if it isn't set
  @if (map-has-key($colormap, border) == false) {
    $colormap: map-merge($colormap, (border: map-get($colormap, background)));
  }

  // set borer-hover to bg-hover if it isn't set
  @if (map-has-key($colormap, border-hover) == false) {
    $colormap: map-merge($colormap, (border-hover: map-get($colormap, background-hover)));
  }

  // set bg-hover to a tint/shade, dependent on bg's brightness
  @if (map-has-key($colormap, background-hover) == false) {
    $background-brightness: brightness(map-get($colormap, background));
    @if ($background-brightness > 65%) {
//       go light
      $colormap: map-merge($colormap, (background-hover, tint(map-get($colormap, background), 20%)));
    }
    @else {
      $colormap: map-merge($colormap, (background-hover, shade(map-get($colormap, background), 20%)));
    }
  }

  @if (map-has-key($colormap, outline-focus) == false) {
    // set the outline to a transparentised version of the background colour
    $colormap: map-merge($colormap, (outline-focus: rgba(map-get($colormap, background), .6)));
  }

  @return $colormap;
}


// assigns default values where they are omitted
@function fix-outline-btn-colors($colormap, $colormap-d) {
  // reassign $colormap to an empty list, so that a defaults list doesn't need to be created
  @if (type-of($colormap) != map) {
    $colormap: new-map();
  }

  @if (map-has-key($colormap, background) == false) {
    // set background to transparent
    $colormap: map-merge($colormap, (background: transparent));
  }

  @if (map-has-key($colormap, background-hover) == false) {
    // set background-hover to the main background
    $colormap: map-merge($colormap, (background-hover: map-get($colormap-d, background)));
  }

  @if (map-has-key($colormap, color) == false) {
    // set color to the same as background-hover (main background)
    $colormap: map-merge($colormap, (color: map-get($colormap, background-hover)));
  }

  @if (map-has-key($colormap, color-hover) == false) {
    // set color-hover to the main color
    $colormap: map-merge($colormap, (color-hover: map-get($colormap-d, color)));
  }

  @if (map-has-key($colormap, border) == false) {
    // set border to the same as the color (main background)
    $colormap: map-merge($colormap, (border: map-get($colormap, background-hover)));
  }

  @if (map-has-key($colormap, border-hover) == false) {
    // set border-hover to the same as background-hover (main background)
    $colormap: map-merge($colormap, (border-hover: map-get($colormap, background-hover)));
  }

  @return $colormap;
}


%btn {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  font-family: inherit;
  font-size: 100%;
  cursor: pointer;
  border: none;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  outline: 0 !important;
  user-select: none;
  overflow: visible;
}

@mixin new-btn($btn-name, $colormap, $options: (outline: true, skew: true)) {
  // verify and fix inputs
  $btn-name: unquote($btn-name);
  @if (is-valid-options-map-for-btn($options) == false) {
    @warn "You've passed an invalid map to options";
  }
  $colormap: fix-btn-colors($colormap);
  $colormap-outline: fix-outline-btn-colors(map-get($options, outline), $colormap);

  // main button
  %btn-#{$btn-name} {
    @extend %btn;
    background-color: map-get($colormap, background);
    color: map-get($colormap, color) !important;
    border: 2px solid map-get($colormap, border);

    &:hover {
      background-color: map-get($colormap, background-hover);
      color: map-get($colormap, color-hover) !important;
      border-color: map-get($colormap, border-hover);
    }

    &:focus,
    &:active {
      box-shadow: 0 0 0 4px map-get($colormap, outline-focus);
    }

    &:visited {
      color: map-get($colormap, color);
    }
  }

  .btn-#{$btn-name} {
    @extend %btn-#{$btn-name};
  }

  // outline button
  @if (map-key-is-good($options, outline) == true) {

    // output outline btn css
    %btn-outline-#{$btn-name} {
      @extend %btn;
      background-color: map-get($colormap-outline, background);
      color: map-get($colormap-outline, color);
      border: 2px solid map-get($colormap-outline, border);

      &:hover {
        background-color: map-get($colormap-outline, background-hover);
        color: map-get($colormap-outline, color-hover);
        border-color: map-get($colormap-outline, border-hover);
      }

      &:focus,
      &:active {
        box-shadow: 0 0 0 4px map-get($colormap, outline-focus);
      }

      &:visited {
        color: map-get($colormap-outline, color);

        &:hover {
          background-color: map-get($colormap-outline, background-hover);
          color: map-get($colormap-outline, color-hover);
          border-color: map-get($colormap-outline, border-hover);
        }
      }
    }

    .btn-outline-#{$btn-name} {
      @extend %btn-outline-#{$btn-name};
    }
  }

  // skew button
  @if (map-key-is-good($options, skew)) {
    %btn-skew-#{$btn-name} {
      @extend %btn;
      position: relative;
      color: map-get($colormap, color);

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        border-radius: 2px;
        background-color: map-get($colormap, background);
        border: 2px solid map-get($colormap, border);
        -webkit-transform: skewX(-8deg);
        -moz-transform: skewX(-8deg);
        transform: skewX(-8deg);
        transition: inherit;
      }

      &:hover {
        color: map-get($colormap, color-hover);

        &:before {
          background-color: map-get($colormap, background-hover);
          border-color: map-get($colormap, border-hover);
        }
      }

      &:focus,
      &:active {
        box-shadow: 0 0 0 4px map-get($colormap, outline-focus);
      }

      &:visited {
        color: map-get($colormap, color);
      }

      .btn-contents {
        position: relative;
        z-index: 2;
      }
    }

    .btn-skew-#{$btn-name} {
      @extend %btn-skew-#{$btn-name};
    }


    // outline skew button
    @if (map-key-is-good($options, outline)) {

      %btn-outline-skew-#{$btn-name} {
        @extend %btn;
        position: relative;
        color: map-get($colormap-outline, color);

        &:before {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 1;
          border-radius: 2px;
          background-color: map-get($colormap-outline, background);
          border: 2px solid map-get($colormap-outline, border);
          -webkit-transform: skewX(-8deg);
          -moz-transform: skewX(-8deg);
          transform: skewX(-8deg);
          transition: inherit;
        }

        &:hover {
          color: map-get($colormap-outline, color-hover);

          &:before {
            background-color: map-get($colormap-outline, background-hover);
            border-color: map-get($colormap-outline, border-hover);
          }
        }

        &:active,
        &:focus {
          box-shadow: 0 0 0 4px map-get($colormap, outline-focus);
        }

        &:visited {
          color: map-get($colormap-outline, color);
        }

        .btn-contents {
          position: relative;
          z-index: 2;
        }
      }

      .btn-outline-skew-#{$btn-name} {
        @extend %btn-outline-skew-#{$btn-name};
      }
    }
  }
}

@function map-key-is-good($map, $key) {
  @if (map-has-key($map, $key) != true) {
    @return false;
  }
  @if (type-of(map-get($map, $key)) != bool and type-of(map-get($map, $key)) != map) {
    @return false;
  }
  @if (map-get($map, $key) == false) {
    @return false;
  }
  @if (length($map) < 1) {
    @return false;
  }
  @return true;
}

// end mixin stuff
